node_modules/
.env
mail.env
serviceAccountKey.json
.DS_Store

# Firebase
serviceAccountKey.json
.firebase/
firebase-debug.log
firebase-debug.*.log

# Functions
functions/node_modules/
functions/.env

# Backups
*-backup.js

